# 01. Libraries and Data

In [99]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy import stats
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [100]:
df_co2= pd.read_csv('../../data/co2_emissions.csv')
df_co2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.982975,0.942212,0.907936,0.909550,0.913413,0.933001,0.943200,0.962203,0.963157,0.902134,0.891352,0.958883,0.961553,0.988083,1.032476,1.008065,0.996423,1.013249,1.053663,0.990734,1.017488,0.976840,0.989585,1.001154,1.013758,0.960430,0.941337,0.933874,0.921453,0.915294,0.795420,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.191389,0.180674,0.126517,0.109106,0.096638,0.088781,0.082267,0.075559,0.071270,0.058247,0.055167,0.055293,0.066810,0.073005,0.054867,0.080361,0.089757,0.109940,0.165573,0.239507,0.304230,0.408965,0.335061,0.298088,0.283692,0.297972,0.268359,0.281196,0.299083,0.297564,0.223479,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.470111,0.521084,0.558013,0.513859,0.462384,0.492656,0.554305,0.540062,0.506709,0.502905,0.521689,0.533552,0.486596,0.505791,0.497074,0.490734,0.452813,0.426842,0.436977,0.409795,0.447817,0.451578,0.452101,0.481623,0.493505,0.475577,0.479775,0.465166,0.475817,0.490837,0.463150,NaN,NaN,NaN,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.554941,0.545807,0.544413,0.710961,0.839266,0.914265,1.073630,1.086325,1.091173,1.109791,0.988416,0.941818,0.895717,0.924988,0.929811,0.812875,0.821264,0.811414,0.888610,0.939457,0.975917,0.983787,0.947583,1.031044,1.091497,1.125185,1.012552,0.829723,0.755828,0.753638,0.592743,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.496616,0.611585,0.632544,0.570608,0.600495,0.654007,0.649987,0.680397,0.707366,0.776116,0.806846,0.839206,0.818574,0.926241,0.946723,0.989913,0.997824,1.027766,1.038030,1.105666,1.027803,0.900866,0.801288,1.031167,0.988347,0.475240,0.342802,0.322370,0.368614,0.354864,0.308515,NaN,NaN,NaN,NaN
263,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.209373,5.922276,5.717823,5.795258,5.826213,6.007616,6.136002,6.372629,6.459824,6.001786,6.076553,6.783723,6.950514,7.338956,7.824764,7.704298,7.672712,7.943859,8.446650,7.902049,8.217612,7.808054,8.034649,8.116435,8.191153,7.607189,7.544590,7.683708,7.667377,7.688908,6.687563,NaN,NaN,NaN,NaN
264,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.356578,0.364978,0.352722,0.304005,0.252979,0.245217,0.197921,0.250242,0.231850,0.183344,0.182709,0.180071,0.182994,0.192305,0.188255,0.198282,0.181889,0.159780,0.170070,0.186603,0.192639,0.213847,0.273340,0.278215,0.297755,0.305055,0.316995,0.393726,0.440527,0.414336,0.401903,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.634929,1.763473,1.735620,1.581818,1.469850,1.408363,1.329556,1.216829,1.218623,1.350076,1.147382,1.137220,1.025763,0.836655,0.795362,0.855306,0.794113,0.783442,0.614453,0.597225,0.741290,0.871932,0.901214,0.901248,0.866838,0.846962,0.723062,0.663069,0.735435,0.663338,0.530484,NaN,NaN,NaN,NaN

In [101]:
df_electric= pd.read_csv('../../data/electric_consumption.csv')
df_electric

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.869489,515.185447,538.778544,564.563028,584.045886,604.214050,608.444226,626.043267,659.851481,693.028377,715.159312,722.958646,725.522129,761.387804,778.356069,787.450794,779.833841,786.878738,785.227875,772.930916,753.929970,722.735464,721.294151,722.739143,733.306039,812.794981,824.332919,786.014510,763.706484,773.979507,737.413463,762.543066,768.235039,771.962501,775.335360,783.748463,790.664684,754.211034,717.769965,734.305771,734.822808,697.657989,691.958090,680.149943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.417264,80.425799,87.853116,89.036474,96.690606,102.432445,109.891281,105.965756,113.245014,119.525222,112.140041,129.602334,110.290684,88.957142,109.619296,125.057232,128.534486,129.381281,133.816973,129.349667,130.715121,133.031832,136.674996,131.443212,132.836337,130.580762,132.379247,119.269682,125.539054,115.970530,118.155974,132.579980,122.647806,137.330140,143.552140,143.117343,156.301210,152.381742,150.623901,162.667270,172.510604,182.722164,178.422404,183.440206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.010618,98.668742,112.188233,135.538525,139.206591,60.411902,58.440646,56.487797,58.682980,60.743955,58.622779,60.354401,63.276764,52.195420,60.577972,58.455908,56.760498,55.242819,53.673684,53.260570,54.543859,53.591896,52.154158,50.809570,49.380931,51.170277,69.328887,73.274547,71.893249,75.271156,82.636886,86.034942,95.837962,87.474778,109.197701,144.626070,133.239699,172.417592,189.313209,206.384259,206.685233,218.553922,278.808255,310.081668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1557.058824,1968.075789,1953.815697,1908.461924,2111.318521,2169.095663,2225.018842,2395.863861,2644.526129,2558.084877,2649.689133,2946.957007,2859.821173,2917.304002,2818.337231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.754295,29.795582,27.771277,31.454000,32.715278,37.183515,37.972339,41.786120,44.270051,54.644583,56.983316,66.347308,67.693028,73.030572,74.567918,84.776481,87.364735,95.662972,94.155214,109.980313,118.020839,120.481335,124.232330,112.581544,118.546843,114.900839,127.946742,125.055848,123.602284,133.396319,137.958364,145.671662,155.779450,163.407787,173.212185,182.597905,198.528916,215.954355,212.696106,238.482577,181.114407,180.869057,233.879319,204.516190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2204.291082,2347.194277,2455.448296,2574.548742,2687.023692,2815.300431,2880.605392,3018.131802,3228.558902,3410.960438,3569.429662,3644.815941,3685.904638,3920.873669,3986.760985,4039.069628,3964.552723,3994.239374,3968.818799,3911.672652,3806.168416,3701.465646,3749.708410,3814.229191,3916.511413,4450.892638,4574.026288,4388.887539,4275.582097,4399.393967,4151.052026,4385.278235,4428.504645,4470.378174,4529.414982,4626.305844,4766.652371,4592.628711,4368.117984,4492.775030,4528.050043,4340.367989,4270.810409,4183.827490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.518455,1057.790277,1111.901711,1184.162665,1157.921654,1179.800586,1122.429247,1082.844665,1065.461509,1061.107559,1101.995920,1086.881926,1066.273305,1026.499089,981.836547,933.831203,918.510229,972.673962,814.147124,796.601687,771.020394,770.094189,775.125660,765.616548,744.230715,719.275032,670.742950,613.288123,617.280229,629.250270,649.040754,672.516395,689.058738,707.362505,710.167948,716.447563,669.565483,589.358129,564.044971,582.580474,620.995059,719.311360,731.934202,701.940863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,663.755218,845.135285,868.589209,903.865992,978.664716,1040.966467,956.912738,907.265745,962.464052,992.208996,967.558095,955.425235,898.430812,846.453925,955.984772,892.681813,902.507230,883.292981,911.302528,892.633529,881.110330,806.371206,757.578705,806.458000,854.190011,895.495336,924.452499,891.381671,935.265909,901.418847,872.976174,876.121143,872.817996,845.826877,881.081196,859.576546,748.319273,619.345425,578.399834,599.932818,629.827684,601.869640,619.235609,597.297022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_forest= pd.read_csv('../../data/forest_area.csv')
df_forest

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.230006,36.078752,35.927499,35.776246,35.624993,35.473739,35.322486,35.171233,35.019980,34.868726,34.717473,34.537463,34.357452,34.177441,33.654274,33.475977,33.297802,33.119504,32.941396,32.763131,32.583415,32.370994,31.890654,31.680635,31.470634,31.260420,31.039682,30.824316,30.611512,30.391626,30.174253,29.955194,NaN,NaN,NaN
2,Afghanistan,AFG,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,NaN,NaN,NaN
3,Africa Western and Central,AFW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.776908,22.658746,22.540583,22.422421,22.304258,22.186096,22.067933,21.949771,21.831608,21.713446,21.595284,21.503156,21.411029,21.318902,21.226775,21.134648,21.042520,20.950393,20.858266,20.766139,20.674012,20.586055,20.498099,20.410143,20.322187,20.234231,20.152610,20.071327,19.986100,19.901215,19.816777,19.732037,NaN,NaN,NaN
4,Angola,AGO,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.578070,63.453407,63.328745,63.204082,63.079419,62.954757,62.830094,62.705431,62.580768,62.456106,62.331443,61.886219,61.440995,60.995770,60.550546,60.105322,59.660098,59.214874,58.769649,58.324425,57.879201,57.433976,56.988751,56.543526,56.098301,55.653076,55.207845,54.762629,54.317406,53.872175,53.426951,52.981722,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,1.039832,NaN,NaN,NaN
263,South Africa,ZAF,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.955271,14.925265,14.895259,14.865253,14.835247,14.805241,14.775235,14.745229,14.715223,14.685217,14.655211,14.625205,14.595199,14.565193,14.535187,14.505181,14.475175,14.445169,14.415163,14.385157,14.355151,14.325145,14.295139,14.265133,14.235127,14.205121,14.175115,14.145109,14.115103,14.085097,14.055091,14.025085,NaN,NaN,NaN
264,Zambia,ZMB,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.778098,63.729940,63.681782,63.633624,63.585467,63.537309,63.489151,63.440993,63.392836,63.344678,63.296520,63.248362,63.200204,63.152047,63.103889,63.055731,63.007573,62.959416,62.911258,62.863100,62.814942,62.561805,62.308667,62.055529,61.802392,61.549254,61.295955,61.042885,60.789707,60.536515,60.283337,60.030150,NaN,NaN,NaN
265,Zimbabwe,ZWE,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.666615,48.547525,48.428435,48.309345,48.190255,48.071165,47.952074,47.832984,47.713894,47.594804,47.475714,47.356624,47.237534,47.118444,46.999354,46.880264,46.761174,46.642083,46.522993,46.403903,46.284813,46.165723,46.046633,45.927543,45.808453,45.689363,45.570273,45.451183,45.332093,45.213002,45.093912,44.974822,NaN,NaN,NaN

In [103]:
df_population= pd.read_csv('../../data/population.csv')
df_population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,59330.0,59106.0,58816.0,58855.0,59365.0,60028.0,60715.0,61193.0,61465.0,61738.0,62006.0,62267.0,62614.0,63116.0,63683.0,64174.0,64478.0,64553.0,64450.0,64332.0,64596.0,65712.0,67864.0,70192.0,72360.0,74710.0,77050.0,79417.0,81858.0,84355.0,86867.0,89101.0,90691.0,91781.0,92701.0,93540.0,94483.0,95606.0,96787.0,97996.0,99212.0,100341.0,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,167596160.0,172475766.0,177503186.0,182599092.0,187901657.0,193512956.0,199284304.0,205202669.0,211120911.0,217481420.0,224315978.0,230967858.0,237937461.0,245386717.0,252779730.0,260209149.0,267938123.0,276035920.0,284490394.0,292795186.0,301124880.0,309890664.0,318544083.0,326933522.0,335625136.0,344418362.0,353466601.0,362985802.0,372352230.0,381715600.0,391486231.0,401600588.0,412001885.0,422741118.0,433807484.0,445281555.0,457153837.0,469508516.0,482406426.0,495748900.0,509410477.0,523459657.0,537792950.0,552530654.0,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,10494489.0,10752971.0,11015857.0,11286753.0,11575305.0,11869879.0,12157386.0,12425267.0,12687301.0,12938862.0,12986369.0,12486631.0,11155195.0,10088289.0,9951449.0,10243686.0,10512221.0,10448442.0,10322758.0,10383460.0,10673168.0,10694796.0,10745167.0,12057433.0,14003760.0,15455555.0,16418912.0,17106595.0,17788819.0,18493132.0,19262847.0,19542982.0,19688632.0,21000256.0,22645130.0,23553551.0,24411191.0,25442944.0,25903301.0,26427199.0,27385307.0,28189672.0,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,118615741.0,121424797.0,124336039.0,127364044.0,130563107.0,133953892.0,137548613.0,141258400.0,145122851.0,149206663.0,153459665.0,157825609.0,162323313.0,167023385.0,171566640.0,176054495.0,180817312.0,185720244.0,190759952.0,195969722.0,201392200.0,206739024.0,212172888.0,217966101.0,223788766.0,229675775.0,235861484.0,242200260.0,248713095.0,255482918.0,262397030.0,269611898.0,277160097.0,284952322.0,292977949.0,301265247.0,309824829.0,318601484.0,327612838.0,336893835.0,346475221.0,356337762.0,366489204.0,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,5928386.0,6029700.0,6177049.0,6364731.0,6578230.0,6802494.0,7032713.0,7266780.0,7511895.0,7771590.0,8043218.0,8330047.0,8631457.0,8947152.0,9276707.0,9617702.0,9970621.0,10332574.0,10694057.0,11060261.0,11439498.0,11828638.0,12228691.0,12632507.0,13038270.0,13462031.0,13912253.0,14383350.0,14871146.0,15366864.0,15870753.0,16394062.0,16941587.0,17516139.0,18124342.0,18771125.0,19450959.0,20162340.0,20909684.0,21691522.0,22507674.0,23364185.0,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,1163000.0,1191000.0,1219000.0,1247000.0,1278000.0,1308000.0,1339000.0,1369000.0,1400000.0,1430000.0,1460000.0,1491000.0,1521000.0,1552000.0,1582000.0,1614000.0,1647000.0,1682000.0,1717000.0,1753000.0,1791000.0,1827000.0,1862000.0,1898000.0,1932000.0,1965000.0,1997000.0,2029000.0,2059000.0,2086000.0,1966000.0,1762000.0,1700000.0,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,1761474.0,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0,NaN,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,6515904.0,6673981.0,6843607.0,7024196.0,7215835.0,7417736.0,7630190.0,7855657.0,8094985.0,8348182.0,8615301.0,8899922.0,9204938.0,9529105.0,9872292.0,10237391.0,10625687.0,11036918.0,11465444.0,11915563.0,12387238.0,12872362.0,13375121.0,13895851.0,14433771.0,14988047.0,15553171.0,16103339.0,16614326.0,17108681.0,17608133.0,18114552.0,18628700.0,19143457.0,19660653.0,20188799.0,20733406.0,21320671.0,21966298.0,22641538.0,23329004.0,24029589.0,24743946.0,25475610.0,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,NaN,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,21050540.0,21704214.0,22368306.0,23031441.0,23698507.0,24382513.0,25077016.0,25777964.0,26480300.0,27199838.0,27943445.0,28697014.0,29463549.0,30232561.0,31022417.0,31865176.0,32768207.0,33752964.0,34877834.0,36119333.0,37393853.0,38668684.0,39877570.0,40910959.0,41760755.0,42525440.0,43267982.0,43986084.0,44661603.0,45285048.0,45852166.0,46364681.0,46813266.0,47229714.0,47661514.0,48104048.0,48556071.0,49017147.0,49491756.0,49996094.0,50565812.0,51170779.0,51784921.0,52443325.0,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,NaN,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,4029173.0,4159007.0,4281671.0,4399919.0,4523581.0,4653289.0,4789038.0,4931249.0,5079672.0,5233292.0,5391355.0,5553462.0,5720438.0,5897481.0,6090818.0,6291070.0,6488072.0,6686449.0,6890967.0,7095185.0,7294325.0,7491275.0,7686401.0,7880466.0,8074337.0,8270917.0,8474216.0,8684135.0,8902019.0,9133156.0,9372430.0,9621238.0,9891136.0,10191964.0,10508294.0,10837973.0,11188040.0,11564870.0,11971567.0,12402073.0,12852966.0,13318087.0,13792086.0,14265814.0,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,NaN,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,4886347.0,5044163.0,5202918.0,5363423.0,5532842.0,5712712.0,5903530.0,6097083.0,6288387.0,6453044.0,6549349.0,6655833.0,7049926.0,7506526.0,7803855.0,8106356.0,8398567.0,8690515.0,8983044.0,9277488.0,9568739.0,9846346.0,10113893.0,10377815.0,10641501.0,10794918.0,10858594.0,10994041.0,11178171.0,11362401.0,11548364.0,11716454.0,11834676.0,11910978.0,11984644.0,12075828.0,12160881.0,12224753.0,12330490.0,12450568.0,12550347.0,12679810.0,12839771.0,13025785.0,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,NaN,NaN

# 02. Data Cleaning

In [104]:
df_co2= df_co2[df_co2['Country Name']=='Mexico']
df_co2= df_co2.iloc[:, 4:].T.dropna().reset_index()
df_co2.columns= ['Year', 'CO2 Emissions']
df_co2

    Year  CO2 Emissions
0   1990       3.298752
1   1991       3.455192
2   1992       3.431835
3   1993       3.469970
4   1994       3.697072
..   ...            ...
26  2016       3.920323
27  2017       3.862759
28  2018       3.587489
29  2019       3.612165
30  2020       3.040766

[31 rows x 2 columns]

In [105]:
df_electric= df_electric[df_electric['Country Name']=='Mexico']
df_electric= df_electric.iloc[:, 4:].T.dropna().reset_index()
df_electric.columns= ['Year', 'Electric Consumption']
df_electric

    Year  Electric Consumption
0   1971            519.040593
1   1972            563.038203
2   1973            593.935674
3   1974            638.623900
4   1975            666.122787
..   ...                   ...
39  2010           2046.823830
40  2011           2246.911250
41  2012           2283.071355
42  2013           2172.175888
43  2014           2186.375822

[44 rows x 2 columns]

In [106]:
df_forest= df_forest[df_forest['Country Name']=='Mexico']
df_forest= df_forest.iloc[:, 4:].T.dropna().reset_index()
df_forest.columns= ['Year', 'Forest Area']
df_forest

    Year  Forest Area
0   1990    36.313511
1   1991    36.199810
2   1992    36.086108
3   1993    35.972407
4   1994    35.858705
..   ...          ...
27  2017    33.990267
28  2018    33.924540
29  2019    33.858818
30  2020    33.793091
31  2021    33.727368

[32 rows x 2 columns]

In [107]:
df_population= df_population[df_population['Country Name']=='Mexico']
df_population= df_population.iloc[:, 4:].T.dropna().reset_index()
df_population.columns= ['Year', 'Population']
df_population

    Year   Population
0   1960   36268055.0
1   1961   37439317.0
2   1962   38683283.0
3   1963   39982118.0
4   1964   41333878.0
..   ...          ...
58  2018  124013861.0
59  2019  125085311.0
60  2020  125998302.0
61  2021  126705138.0
62  2022  127504125.0

[63 rows x 2 columns]

In [108]:
df_mexico= pd.merge(df_co2, df_electric, on='Year')
df_mexico= pd.merge(df_mexico, df_forest, on='Year')
df_mexico= pd.merge(df_mexico, df_population, on='Year')
df_mexico= df_mexico.set_index('Year')
df_mexico.columns= ['co2_emissions', 'electric_consumption', 'forest_area', 'population']
df_mexico

      co2_emissions  electric_consumption  forest_area   population
Year
1990       3.298752           1217.272137    36.313511   81720428.0
1991       3.455192           1328.996764    36.199810   83351595.0
1992       3.431835           1349.908564    36.086108   84993164.0
1993       3.469970           1342.516849    35.972407   86648447.0
1994       3.697072           1430.355250    35.858705   88314424.0
...             ...                   ...          ...          ...
2010       4.113211           2046.823830    34.436745  112532401.0
2011       4.190990           2246.911250    34.373739  114150481.0
2012       4.202414           2283.071355    34.310733  115755909.0
2013       4.056055           2172.175888    34.247728  117290686.0
2014       3.892355           2186.375822    34.184722  118755887.0

[25 rows x 4 columns]

# 03. Model

In [109]:
X= df_mexico[['electric_consumption', 'forest_area', 'population']]
Y= df_mexico['co2_emissions']
X= sm.add_constant(X)
model= sm.OLS(Y, X).fit()

In [110]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          co2_emissions   R-squared:                       0.888
Model:                            OLS   Adj. R-squared:                  0.872
Method:                 Least Squares   F-statistic:                     55.73
Date:                Mon, 10 Jun 2024   Prob (F-statistic):           3.59e-10
Time:                        15:05:45   Log-Likelihood:                 23.434
No. Observations:                  25   AIC:                            -38.87
Df Residuals:                      21   BIC:                            -33.99
Df Model:                           3
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   17.2553     17.351      0.994      0.331     -18.829      53.339
electric_consumption     0.0010      0.000      2.784      0.011       0.000       0.002
forest_area             -0.3573      0.430     -0.832      0.415      -1.251       0.536
population           -2.719e-08   2.02e-08     -1.343      0.194   -6.93e-08    1.49e-08
==============================================================================
Omnibus:                        0.555   Durbin-Watson:                   1.186
Prob(Omnibus):                  0.758   Jarque-Bera (JB):                0.608
Skew:                          -0.007   Prob(JB):                        0.738
Kurtosis:                       2.236   Cond. No.                     8.49e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.49e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [111]:
y_pred= model.predict(X)

# 04. Calculate the summary statistics

### 04.1 Summary statistics

In [112]:
n_obsertions= df_mexico.shape[0]
k= X.shape[1]-1
df_residuals= n_obsertions - k -1
df_models= k

### 04.2 R Squared

In [113]:
residuals= Y - y_pred
ssr= np.dot(residuals, residuals)
print('Sum of Squared Residuals:', ssr)

Sum of Squared Residuals: 0.2245418929298922

In [114]:
centered_y= Y - Y.mean()
sst= np.dot(centered_y, centered_y)
print('Total Sum of Squares:', sst)

Total Sum of Squares: 2.0121137656866366

In [115]:
r2= 1 - ssr/sst
print('R^2:', r2)

R^2: 0.8884049715482827

### 04.3 Adjusted R Squared

In [116]:
adj_r2= 1 - (1-r2)*(n_obsertions-1)/(n_obsertions-k-1)
print('Adjusted R^2:', adj_r2)

Adjusted R^2: 0.8724628246266088

### 04.4 F-Statistic

In [117]:
explained_sum_squares= sst - ssr

In [118]:
mse_model= explained_sum_squares/k
print('Mean Squared Error of the Model:', mse_model)

Mean Squared Error of the Model: 0.5958572909189148

In [119]:
mse_residuals= ssr/df_residuals
print('Mean Squared Error of the Residuals:', mse_residuals)

Mean Squared Error of the Residuals: 0.010692471091899629

In [120]:
fvalue= mse_model/mse_residuals
print('F-Value:', fvalue)

F-Value: 55.726808686003615

In [121]:
p_value= stats.f.sf(fvalue, k, df_residuals)
print('P-Value:', p_value)

P-Value: 3.5893431519777776e-10

### 04.5 Log Likelihood

In [122]:
log_likelihood= -n_obsertions/2 * (1 + np.log(2*np.pi) + np.log(ssr/n_obsertions))
print('Log Likelihood:', log_likelihood)

Log Likelihood: 23.433646777361982

### 04.6 Aikaikes Information Criterion (AIC)

In [123]:
aic_model= -2*log_likelihood + 2*(k+1)
print('AIC:', aic_model)

AIC: -38.867293554723965

### 04.7 Bayesian Information Criterion (BIC)

In [124]:
bic_model= -2*log_likelihood + (k+1)*np.log(n_obsertions)
print('BIC:', bic_model)

BIC: -33.99179025525116

### 04.8 Coefficients

In [125]:
X_squrared= np.dot(X.T, X)
X_squrared_inv= np.linalg.inv(X_squrared)
mult_x= np.dot(X_squrared_inv, X.T)
coefficients= np.dot(mult_x, Y)
print('Coefficients:', coefficients)

Coefficients: [ 1.72552986e+01  1.03843709e-03 -3.57283740e-01 -2.71915129e-08]

### 04.9 Coefficient Standard Errors

In [126]:
resid_variance= ssr/df_residuals
print('Residual Variance:', resid_variance)

Residual Variance: 0.010692471091899629

In [127]:
cov_matrix= resid_variance * X_squrared_inv
print('Covariance Matrix:', cov_matrix)

Covariance Matrix: [[ 3.01066803e+02 -3.86571895e-03 -7.45396385e+00 -3.21077330e-07]
 [-3.86571895e-03  1.39088976e-07  9.80117283e-05  1.71443968e-12]
 [-7.45396385e+00  9.80117283e-05  1.84629718e-01  7.88002451e-09]
 [-3.21077330e-07  1.71443968e-12  7.88002451e-09  4.09835932e-16]]

In [128]:
variances= np.diagonal(cov_matrix)
std_errors= np.sqrt(variances)
print('Standard Errors:', std_errors)

Standard Errors: [1.73512767e+01 3.72946344e-04 4.29685604e-01 2.02444049e-08]

In [129]:
t_stats= coefficients/std_errors
print('T-Statistics:', t_stats)

T-Statistics: [ 0.99446853  2.78441419 -0.83150037 -1.34316188]

In [130]:
p_values= stats.t.sf(np.abs(t_stats), df_residuals)*2
print('P-Values:', p_values)

P-Values: [0.33131633 0.0111109  0.41504614 0.19355654]

### 04.10 Confidence Intervals

In [131]:
upper_interval= coefficients + stats.t.ppf(0.975, df_residuals)*std_errors
lower_interval= coefficients - stats.t.ppf(0.975, df_residuals)*std_errors
print('Confidence Interval:', lower_interval, upper_interval)

Confidence Interval: [-1.88286566e+01  2.62852713e-04 -1.25086387e+00 -6.92920577e-08] [5.33392539e+01 1.81402147e-03 5.36296390e-01 1.49090319e-08]

### 04.11 Omni Test

In [132]:
omni_test= stats.normaltest(residuals, axis=0)
print('Omnibus Test:', omni_test)

Omnibus Test: NormaltestResult(statistic=0.554840454019506, pvalue=0.7577360090592853)

### 04.12 Skewness & Kurtosis

In [133]:
skewness= stats.skew(residuals, axis=0)
print('Skewness:', skewness)

Skewness: -0.007393446090057083